body {
    font-family: sans-serif;
    color: black;
    background: #DDDDDD;
    font-size: 20px;
}
ul {
   width: 30em;
    margin: 5em auto;
 
    background: white;
    border: 1px solid gray;
    padding: 0.5em 2em;
}s
