body {
  font-family: "Neue Helvetica W01",sans-serif;
  color: black;
  background: #DDDDDD;
}
ul, div {
  width: 30em;
  margin: 5em 5em;
  list-style-type: none;  
  background: white;
  border: 1px solid gray;
  padding: 0.5em 2em;
}
